//
//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//
//// Variables
@import "variables";
//
//// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/

@import "fonts/font.css";

* {margin: 0; padding: 0; line-height: 1; font-family: 'HelveticaNeueCyr', arial, serif; outline: none !important; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; }
/*body {font-size: 10px; overflow: auto!important;}*/
body {font-size: 10px; width: 100%;}
body > .inner {max-width: 720px; margin: 0 auto;}
a, a:active, a:hover { outline: none; text-decoration: none; }
.content > ul {
  overflow: hidden;
  margin: 20px;
  list-style: none;
}
.content > ul li {
  padding-left: 5px;
  line-height: 2;
  cursor: pointer;
}
.content li:nth-child(odd) {background: #BEBBE2;}
.content li:nth-child(even) {background: white;}

.html-root p{
  margin-bottom: 1rem;
}

.html-root h2, .html-root h1{
  font-weight: 300;
}

.html-root h1{
  margin-bottom: 1rem;

}

.html-root{
  padding: 0.5rem 0 0 0;
}

.html-root, .html-root div, .html-root p{
  line-height: 1.7;
  font-family: serif;
  text-align: left;
  font-size: 1rem;
}

@media (max-height: 280px) {
  body {font-size: 8px;}
}
@media (min-height: 280px) and (max-height: 400px) {
  body {font-size: 9px;}
}
@media (min-height: 400px) and (max-height: 500px) {
  body {font-size: 10px;}
}
@media (min-height: 500px) and (max-height: 600px) {
  body {font-size: 12px;}
}
@media (min-height: 600px) and (max-height: 900px) and (min-width: 370px) {
  body {font-size: 12px;}
}
@media (min-height: 600px) and (max-height: 900px) and (max-width: 370px) {
  body {font-size: 11px;}
}
@media (min-height: 900px) {
  body {font-size: 15px;}
}
